.logo {
  text-decoration: none;
  font-family: "Raleway", roboto, -apple-system, BlinkMacSystemFont, avenir next,
    avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, noto, arial,
    sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  color: var(--primary-logo-color);
}

.logo--footer {
  color: var(--main-white-color);
}

.logo-accent {
  color: var(--accent-color);
}
